/* dropdownMenu.css */

.dropdown {
 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dropdown-content{
  font-family: "ADLaMDisplay";
  font-size: var(--text-medium); 
  color: var(--text-color);
  background-color: var(--secondary-color);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  border: 2px solid var(--primary-color);
  text-shadow:
  -0.2rem -0.2rem 0 var(--primary-color),
  0.2rem -0.2rem 0 var(--primary-color),
  -0.2rem 0.2rem 0 var(--primary-color),
  0.2rem 0.2rem 0 var(--primary-color); 
}



.submit-category {
  font-family: "ADLaMDisplay";
  font-size: var(--text-medium); 
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}

@media (max-width: 480px){

  .dropdown-content {
    font-size: 2.5rem;
  }

  .submit-category {
    font-size: 2rem;
  }
}