.footer {
    border-top: 1px solid var(--border);
    padding-block: var(--gutter-x-large);
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 875px) {
    .footer-content {
      flex-direction: column-reverse;
      gap: var(--gutter-small);
    }
    .footer-text {
      text-align: center;
    }
  }
  
  .footer-text {
    font-size: var(--text-small);
  }
  
  .footer-text a {
    color: var(--sub);
  }
  
  .footer-links {
    display: flex;
    gap: var(--gutter-small);
    list-style-type: none;
  }